<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_00786187ce605a3291930ed44976303e {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_00786187ce605a3291930ed44976303e" ></div>
        
</body>
<script>
    
    
            var map_00786187ce605a3291930ed44976303e = L.map(
                "map_00786187ce605a3291930ed44976303e",
                {
                    center: [15.754585636, 79.957906242],
                    crs: L.CRS.EPSG3857,
                    zoom: 10,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_eebfb3d2cf9666c06271f41b614d87ed = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca target=\"_blank\" href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca target=\"_blank\" href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_00786187ce605a3291930ed44976303e);
        
    
            var marker_e1154c483c09b9b8150d3c278e08591d = L.marker(
                [15.754585636, 79.957906242],
                {}
            ).addTo(map_00786187ce605a3291930ed44976303e);
        
    
            var icon_14ff33cc2dd9fed5b008cf5490adf4c9 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_e1154c483c09b9b8150d3c278e08591d.setIcon(icon_14ff33cc2dd9fed5b008cf5490adf4c9);
        
    
        var popup_07cb4d1908ca1ab4e85ff3cfcaa593fa = L.popup({"maxWidth": "100%"});

        
            
                var html_0c3410df422ad8892b0d6474c09a4c31 = $(`<div id="html_0c3410df422ad8892b0d6474c09a4c31" style="width: 100.0%; height: 100.0%;">"Andhra Pradesh"</div>`)[0];
                popup_07cb4d1908ca1ab4e85ff3cfcaa593fa.setContent(html_0c3410df422ad8892b0d6474c09a4c31);
            
        

        marker_e1154c483c09b9b8150d3c278e08591d.bindPopup(popup_07cb4d1908ca1ab4e85ff3cfcaa593fa)
        ;

        
    
</script>
</html>