<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_90b8c0229907f446e52488dfcea4b2a5 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_90b8c0229907f446e52488dfcea4b2a5" ></div>
        
</body>
<script>
    
    
            var map_90b8c0229907f446e52488dfcea4b2a5 = L.map(
                "map_90b8c0229907f446e52488dfcea4b2a5",
                {
                    center: [44.56503, -123.26351],
                    crs: L.CRS.EPSG3857,
                    zoom: 10,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_aea997870ed917a8b56c9955483c8c46 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca target=\"_blank\" href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca target=\"_blank\" href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_90b8c0229907f446e52488dfcea4b2a5);
        
    
            var marker_fa2b9e08c10a51a793a7f23c5947c708 = L.marker(
                [44.56503, -123.26351],
                {}
            ).addTo(map_90b8c0229907f446e52488dfcea4b2a5);
        
    
            var icon_6c2dc7ec8ed11394f5e23da300f5505f = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_fa2b9e08c10a51a793a7f23c5947c708.setIcon(icon_6c2dc7ec8ed11394f5e23da300f5505f);
        
    
        var popup_a6a381e41a52c8e25737ff1c08f95921 = L.popup({"maxWidth": "100%"});

        
            
                var html_8cf06e0997cfefd4c132c0e0c9a84115 = $(`<div id="html_8cf06e0997cfefd4c132c0e0c9a84115" style="width: 100.0%; height: 100.0%;">"Corvallis"</div>`)[0];
                popup_a6a381e41a52c8e25737ff1c08f95921.setContent(html_8cf06e0997cfefd4c132c0e0c9a84115);
            
        

        marker_fa2b9e08c10a51a793a7f23c5947c708.bindPopup(popup_a6a381e41a52c8e25737ff1c08f95921)
        ;

        
    
</script>
</html>